<div class="w-full max-w-md mx-auto mt-10 p-6 sm:p-10 bg-customBlue-blue-dark  from-color-teal-blue rounded-lg shadow-lg transition-all duration-300 hover:shadow-[0_0_20px_#0AD1C8]">
  <div class="flex justify-center mb-4">
    <img src="assets/Log.png" alt="logo" class="w-24 sm:w-32" />
  </div>
  <h2 class="text-secondary-white text-center mb-4 form-heading text-display-medium">Registrate</h2>
  <h3 class="text-lg sm:text-xl text-secondary-white text-center mb-4">Crear tu cuenta</h3>

  <form (ngSubmit)="register()" class="space-y-4">
    <div class="relative">
      <input type="email" pInputText id="email" [(ngModel)]="email" name="email" placeholder="Correo" required
        class="w-full p-2 bg-color-mint-green bg-opacity-30 border border-transparent rounded-md focus:ring-2 focus:ring-color-light-mint focus:border-color-light-mint placeholder-secondary-white text-secondary-white" />
    </div>

    <div class="relative">
      <input [type]="showPassword ? 'text':'password'" pInputText id="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required
        class="w-full p-2 bg-color-mint-green bg-opacity-30 border border-transparent rounded-md focus:ring-2 focus:ring-color-light-mint focus:border-color-light-mint placeholder-secondary-white text-secondary-white" />
    </div>

    <div class="flex items-center justify-between text-secondary-white">
      <p-checkbox label="Ver Contraseña" [(ngModel)]="showPassword" [binary]="true" [ngModelOptions]="{ standalone: true }"></p-checkbox>
    </div>

    <div>
      <button pButton type="submit" label="Regístrate" class="w-full py-2 bg-color-teal-blue hover:bg-color-light-mint text-secondary-white font-semibold rounded-md transition-all duration-500 ease-in-out hover:scale-105 shadow-md" [disabled]="isLoading">
        
      </button>
    </div>

    <div class="text-center mt-4">
      <span class="text-secondary-white">¿Ya tienes Cuenta?</span>
      <a class="text-secondary-white ml-2 font-bold hover:underline" href="/login">Inicar Sesion</a>
    </div>
  </form>
</div>
