<div class="login-box">
  <div class="cont-log">
    <img src='assets/Log.png' alt="logo" class="logo">
  </div>
  <h2 class="title">Regístrate</h2>
  <h3 class="subtitle">Crear tu cuenta</h3>

  <form (ngSubmit)="register()" class="register-form">

    <div class="form-group">
      <input type="email" pInputText id="email" [(ngModel)]="email" name="email" placeholder="Correo" required />
    </div>

    <div class="form-group">
      <input [type]="showPassword ? 'text':'password'" pInputText id="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required />
    </div>

    <div class="form-group">
      <p-checkbox label="Ver Contraseña" [(ngModel)]="showPassword" [binary]="true" [ngModelOptions]="{ standalone: true }">
      </p-checkbox>
    </div>

    <div class="form-group">
      <button pButton type="submit" label="Regístrate" class="register-btn" [disabled]="isLoading"></button>
    </div>

    <div class="login-link">
      <span>¿Ya tienes cuenta?</span>
      <a class="inicia-sesion" href="/login">Inicia Sesión</a>
    </div>
  </form>
</div>