<div class="w-[28.125rem] h-[47.5rem] max-w-md mx-auto mt-20 p-10 rounded-xl bg-customBlue-blue-dark overflow-hidden relative transition-all duration-300 hover:shadow-[0_0_30px_#0AD1C8]">
  <div class="flex justify-center  mb-4">
    <img src="assets/Log.png" alt="logo" class="w-32">
  </div>
  <h2 class="text-secondary-white text-center mb-2 form-heading">Iniciar Sesión</h2>
  <form #loginForm="ngForm" (ngSubmit)="login()" novalidate class="form">
    <div class="relative mb-5 form-field">
      <input type="email" pInputText id="email" [(ngModel)]="email" name="email" placeholder="Correo Electrónico" required
         class="w-full p-2 bg-color-mint-green bg-opacity-30 border border-transparent rounded-md focus:ring-2 focus:ring-color-light-mint focus:border-color-light-mint placeholder-secondary-white text-secondary-white" /> 
      <div *ngIf="loginForm.submitted && !email" class="text-secondary-red">El correo electrónico es obligatorio</div>
    </div>

    <div class="relative mb-5 form-field">
      <input [type]="showPassword ? 'text':'password'" pInputText id="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required
         class="w-full p-2 bg-color-mint-green bg-opacity-30 border border-transparent rounded-md focus:ring-2 focus:ring-color-light-mint focus:border-color-light-mint placeholder-secondary-white text-secondary-white" />
      <div *ngIf="loginForm.submitted && !password" class="text-secondary-red">La contraseña es obligatoria</div>
      <div class="text-secondary-white flex items-center mt-2">
        <p-checkbox label="Ver Contraseña" [(ngModel)]="showPassword" [binary]="true" [ngModelOptions]="{ standalone: true }"></p-checkbox>
      </div>
    </div>

    <div class="mb-5 flex justify-center"> 
      <button pButton type="submit" label="Iniciar Sesión" class="w-[150px] bg-color-teal-blue h-[50px] my-3 flex items-center justify-center rounded-xl cursor-pointer relative overflow-hidden transition-all duration-500 ease-in-out shadow-md hover:scale-105 hover:shadow-lg before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-color-tropical-teal before:to-color-light-mint before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-xl hover:before:left-0 text-secondary-white">
      </button>
    </div> 
    
  </form>
    
  <div class="flex flex-col gap-4 text-center mb-5">
    <p class="text-secondary-white">O Inicia sesión con:</p>
    <div class="w-full flex justify-center space-x-4"> 
      <button pButton type="button" class="w-[150px] bg-color-teal-blue h-[50px] my-3 flex items-center justify-center rounded-xl cursor-pointer relative overflow-hidden transition-all duration-500 ease-in-out shadow-md hover:scale-105 hover:shadow-lg before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-color-tropical-teal before:to-color-light-mint before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-xl hover:before:left-0 text-secondary-white" (click)="loginWithGoogle()">
        <i class="pi pi-google mr-2"></i> 
        <span>Google</span>
      </button>
      
      <button pButton type="button" class="w-[150px] bg-color-teal-blue h-[50px] my-3 flex items-center justify-center rounded-xl cursor-pointer relative overflow-hidden transition-all duration-500 ease-in-out shadow-md hover:scale-105 hover:shadow-lg before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-color-tropical-teal before:to-color-light-mint before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-xl hover:before:left-0 text-secondary-white" (click)="loginWithFacebook()">
        <i class="pi pi-facebook mr-2"></i> 
        <span>Facebook</span>
      </button>
    </div>
  
    <div class="text-center mt-4">
      <span class="text-secondary-white">¿No tienes una cuenta?</span> 
      <a class="text-secondary-white ml-3 font-bold hover:underline" href="/register">Regístrate</a>
    </div>
  </div>
</div>
