<div class="w-[22rem] h-auto max-w-md mx-auto mt-12 p-8 rounded-lg bg-customBlue-blue-dark overflow-hidden relative transition-all duration-300 hover:shadow-[0_0_20px_#0AD1C8]">
  <div class="flex justify-center mb-4">
    <img src="assets/Log.png" alt="logo" class="w-24">
  </div>
  <h2 class="text-secondary-white text-center mb-4 form-heading text-display-medium">Iniciar Sesión</h2>
  
  <form #loginForm="ngForm" (ngSubmit)="login()" novalidate class="form">
    <div class="relative mb-4">
      <input type="email" pInputText id="email" [(ngModel)]="email" name="email" placeholder="Correo Electrónico" required
        class="w-full p-2 bg-color-mint-green bg-opacity-30 border border-transparent rounded-md focus:ring-2 focus:ring-color-light-mint focus:border-color-light-mint placeholder-secondary-white text-secondary-white" />
      <div *ngIf="loginForm.submitted && !email" class="text-secondary-red">El correo electrónico es obligatorio</div>
    </div>

    <div class="relative mb-4">
      <input [type]="showPassword ? 'text':'password'" pInputText id="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required
        class="w-full p-2 bg-color-mint-green bg-opacity-30 border border-transparent rounded-md focus:ring-2 focus:ring-color-light-mint focus:border-color-light-mint placeholder-secondary-white text-secondary-white" />
      <div *ngIf="loginForm.submitted && !password" class="text-secondary-red">La contraseña es obligatoria</div>
      <div class="text-secondary-white flex items-center mt-2">
        <p-checkbox label="Ver Contraseña" [(ngModel)]="showPassword" [binary]="true" [ngModelOptions]="{ standalone: true }"></p-checkbox>
      </div>
    </div>

    <div class="mb-4 flex justify-center">
      <button pButton type="submit" Regístrate="Iniciar Sesión"
        class="w-[120px] bg-color-teal-blue h-[45px] flex items-center justify-center rounded-lg cursor-pointer relative overflow-hidden transition-all duration-500 ease-in-out shadow-md hover:scale-105 hover:shadow-lg text-secondary-white">
      </button>
    </div> 
  </form>
  
  <div class="flex flex-col gap-4 text-center mb-4">
    <p class="text-secondary-white">O Inicia sesión con:</p>
    <div class="flex justify-center space-x-4">
      <button pButton type="button"
        class="w-[120px] bg-color-teal-blue h-[45px] flex items-center justify-center rounded-lg cursor-pointer transition-all duration-500 ease-in-out hover:scale-105 hover:shadow-lg text-secondary-white" (click)="loginWithGoogle()">
        <i class="pi pi-google mr-2"></i> 
        <span>Google</span>
      </button>
      <button pButton type="button"
        class="w-[120px] bg-color-teal-blue h-[45px] flex items-center justify-center rounded-lg cursor-pointer transition-all duration-500 ease-in-out hover:scale-105 hover:shadow-lg text-secondary-white" (click)="loginWithFacebook()">
        <i class="pi pi-facebook mr-2"></i> 
        <span>Facebook</span>
      </button>
    </div>

    <div class="text-center mt-4">
      <span class="text-secondary-white">¿No tienes una cuenta?</span>
      <a class="text-secondary-white ml-2 font-bold hover:underline" href="/register">Regístrate</a>
    </div>
  </div>
</div>
