<div class="min-h-screen flex flex-col items-center justify-center rounded-lg">
  <div class="w-full max-w-4xl bg-secondary-white shadow-lg overflow-hidden rounded-lg">
    <!-- Chatbot header with centered image -->
    <div class="bg-color-tropical-teal p-4 flex items-center justify-between">
      <div class="flex items-center justify-center">
        <img
          src="../../../assets/Log.png"
          class="h-12 w-12 md:h-16 md:w-16 lg:h-20 lg:w-20 object-contain"
          alt="Logo"
        />
      </div>
      <span class="text-title-large text-secondary-white text-sm md:text-lg lg:text-xl">
        Tu Asesor Agronómico
      </span>
    </div>

    <!-- Chat window -->
    <div class="p-4 h-80 overflow-y-auto bg-secondary-gray">
      <!-- Chat messages -->
      <div *ngFor="let message of messages" class="mb-2">
        <!-- Mensaje del chatbot con avatar -->
        <div *ngIf="message.sender !== 'user'" class="flex items-start space-x-2">
          <!-- Avatar del chatbot -->
          <img [src]="message.avatar" alt="Bot Avatar" class="w-8 h-8 md:w-10 md:h-10 lg:w-12 lg:h-12 object-cover object-center rounded-full">
          
          <!-- Contenedor del mensaje del bot -->
          <div class="flex flex-col">
            <!-- Mensaje del chatbot -->
            <div class="bg-customBlue-blue-dark text-secondary-white p-2 md:p-3 rounded-lg shadow-sm">
              <p class="text-xs md:text-sm lg:text-base">{{ message.text }}</p>
            </div>

            <!-- Botón de reproducción solo para mensajes del bot -->
            <div *ngIf="message.canPlayVoice" class="mt-1">
              <button (click)="playVoice(message.text)" class="bg-secondary-white text-white py-1 px-2 rounded-md flex items-center justify-center">
                <i class="pi pi-volume-up text-lg"></i>
              </button>
            </div>            
          </div>
        </div>

        <!-- Mensaje del usuario con avatar alineado a la derecha -->
        <div *ngIf="message.sender === 'user'" class="flex items-end justify-end space-x-2">
          <!-- Mensaje del usuario -->
          <div class="bg-customBlue-blue-default text-secondary-white p-2 md:p-3 rounded-lg shadow-sm text-right">
            <p class="text-xs md:text-sm lg:text-base">{{ message.text }}</p>
          </div>
          <!-- Avatar del usuario -->
          <img [src]="message.avatar" alt="User Avatar" class="w-8 h-8 md:w-10 md:h-10 lg:w-12 lg:h-12 rounded-full">
        </div>
        <!-- Time -->
        <div class="text-body-small text-secondary-white mt-1 text-right">{{ message.time }}</div>
      </div>
    </div>

    <!-- Input area -->
    <div class="bg-color-tropical-teal p-4 border-t">
      <form (submit)="handleSubmit(); $event.preventDefault();" class="flex items-center space-x-2">
        <!-- Input -->
        <input
          type="text"
          [(ngModel)]="question"
          placeholder="Escribe tu pregunta..."
          name="question"
          class="w-full p-2 md:p-3 border rounded-lg focus:outline-none focus:ring-2"
          required
        />

        <!-- Mic button, centered vertically -->
        <button
          type="button"
          (click)="startVoiceRecognition()"
          class="flex items-center justify-center text-gray-600 p-2 rounded-full"
        >
          <span class="text-xl">🎤</span>
        </button>

        <!-- Send button -->
        <button type="submit" class="text-title-large text-secondary-white py-2 rounded-lg">
          Enviar
        </button>
      </form>
    </div>
  </div>
</div>
