.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B1C1E;
    padding: 10px;
  }
  
  .navbar-brand a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }
  
  .navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 3px 0;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
  }
  
  .navbar-menu li {
    position: relative;
    margin-right: 20px;
  }
  
  .navbar-menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    background-color: #1B1C1E;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    z-index: 1;
  }
  
  .navbar-menu li:hover .dropdown {
    display: block;
  }
  
  @media (max-width: 768px) {
    .navbar-menu {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px; /* Ajustar según el tamaño del navbar */
      left: 0;
      background-color: #1B1C1E;
    }
  
    .navbar-menu.active {
      display: flex;
    }
  
    .navbar-toggle {
      display: flex;
    }
  
    .navbar-menu li {
      margin: 10px 0;
    }
  
    .navbar-menu li:hover .dropdown {
      display: none; /* Desactiva el dropdown en móvil */
    }
  }
  