<nav class="navbar">
  <div class="navbar-brand">
    <a href="#">AgroIA</a>
  </div>
  <div class="navbar-toggle" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
  <ul class="navbar-menu" [class.active]="isMenuOpen">
    <li>
      <a href="#">Servicios</a>
      <ul class="dropdown">
        <li><a href="#">Riego</a></li>
        <li><a href="#">Fertilización</a></li>
        <li><a href="#">Control de Plagas</a></li>
      </ul>
    </li>
    <li><a href="#">Acerca de nosotros</a></li>
    <li><a href="#">Contáctanos</a></li>
  </ul>
</nav>
